body {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(129, 125, 255, 1);
}

.name-slogan {
  text-align: center;
  font-family: "Inconsolata", monospace;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 700;
}

.name {
  font-size: 35px;
}

.slogan {
  font-size: 28px;
}

.container {
  width: 50%;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.8rem;
  font-size: 25px;
  font-weight: 600;
  font-family: "Inconsolata", monospace;
  color: rgb(255, 255, 255);
  line-height: 110%;
  /* display: none; */
}

.welcome-message1,
.welcome-message2,
.welcome-message3 {
  padding: 1.5rem;
  border-radius: 0.2rem;
}

.welcome-message1 {
  background-color: rgba(219, 116, 255, 1);
  text-align: justify;
}

.welcome-message2 {
  background-color: rgba(255, 137, 0, 1);
  text-align: justify;
}

.welcome-message3 {
  background-color: rgba(255, 111, 114, 1);
  text-align: justify;
}

.start-button {
  width: 50%;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  border: none;
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: #000;
  transition: 0.6s;
  text-align: center;
}

.start-button:hover {
  background-color: rgba(255, 205, 30, 1);
  transition: 0.6s;
}

/* CSS FOR QUIZ (NOT VISIBLE UNTIL BUTTON IS CLICKED) */

.quiz {
  display: none;
}

.first-question-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.question-1-header {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "Inconsolata", monospace;
  color: rgb(49, 49, 49);
}

.question-1 {
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  font-family: "Inconsolata", monospace;
  color: rgb(255, 255, 255);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  border: none;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.answer-options {
  background-color: #fff;
  color: rgba(129, 125, 255, 1);
  font-weight: 750;
  width: 50%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 30px;
  font-family: "Inconsolata", monospace;
  cursor: pointer;
  text-align: center;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.next-question-button {
  background-color: rgba(255, 137, 0, 1);
  color: #fff;
  font-weight: 600;
  width: 25%;
  margin: 0 auto;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 25px;
  font-family: "Inconsolata", monospace;
  cursor: pointer;
  transition: 0.4s;
}

.next-question-button:hover {
  background-color: rgb(226, 121, 0);
  transition: 0.4s;
}

.pop-up {
  background-color: rgba(15, 169, 88, 1);
  font-family: "Inconsolata", monospace;
  text-align: center;
  line-height: 3.5rem;
  color: #fff;
  padding: 3rem;
  color: #000;
  font-weight: 700;
  width: 30%;
  border-radius: 1rem;
  font-size: 25px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: none;
}

.pop-up-button {
  width: 35%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: #000;
}

/* END OF CSS FOR QUIZ (NOT VISIBLE UNTIL BUTTON IS CLICKED) */

/* Styles for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    padding: 0 1rem;
    font-size: 20px;
  }

  .name {
    font-size: 25px;
  }

  .slogan {
    font-size: 20px;
  }

  .welcome-message1,
  .welcome-message2,
  .welcome-message3 {
    text-align: center;
  }

  .start-button {
    width: 80%;
    font-size: 20px;
  }
}

/* Styles for screens between 600px and 900px */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container {
    width: 70%;
    padding: 0 2rem;
    font-size: 22px;
  }

  .name {
    font-size: 30px;
  }

  .slogan {
    font-size: 24px;
  }

  .start-button {
    width: 60%;
    font-size: 22px;
  }
}

/* Styles for screens between 900px and 1350px */
@media only screen and (min-width: 900px) and (max-width: 1350px) {
  .container {
    width: 50%;
    padding: 0 2rem;
    font-size: 22px;
  }

  .name {
    font-size: 30px;
  }

  .slogan {
    font-size: 24px;
  }

  .start-button {
    width: 60%;
    font-size: 22px;
  }
}
